body {
  margin: 1rem;
  line-height: 1.5;
}
body img { 
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: crisp-edges;
}
.banner {
  z-index: 9999;
}
.number-container {
  text-align: center; 
  position: absolute;
  text-align: center;
  text-overflow: ellipsis;
}
.number-container-hidden {
  text-align: center; 
  position: absolute;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}
.number-container button {
  color: rgb(255,255,255);
  background-color: rgb(55, 0, 55); 
  text-overflow: ellipsis;
}

.number {
  font-size: 16px;
  display: block; 
  color: rgb(255,0,255);
  text-align: center;
  text-overflow: ellipsis;
}
.numberwhite {
  font-size: 16px;
  display: block; 
  color: rgb(255,255,255);
  text-align: center;
  text-overflow: ellipsis;
}

.backgroundwhite {
  background-color: rgb(51,51,51);
}
.backgroundtransparent {
  background-color: transparent;
}
.backgroundblack {
  background-color: rgb(10, 10, 10);
}
.centered {
  text-align: center;
}
.largenumberwhite {
  font-size: 24px;
  display: block; 
  color: rgb(255,255,255);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.funnybg {
  background-color:black;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}
.funnybg2 {
  background-color: black;
  background-image: repeating-linear-gradient(135deg, transparent, transparent 5%, rgba(15,15,15,.5) 5%, rgba(15,15,15,.5) 10%);
}
.buttonwhite {
  border: 2px solid rgb(255,255,255);
  font-size: 16px;
  color: rgb(255,255,255);
  box-sizing: border-box;
  box-shadow: 0 0 10px 2px rgba(255,255,255);
  text-align: center;
}
.fire {
  font-size: 16px;
  box-sizing: border-box;
  text-align: center;
}
.aqua {
  font-size: 16px;
  box-sizing: border-box;
  text-align: center;
}
     .image-container {
       height: auto;
        padding: 5px;
     }
     .image-container img {
       width: 100%;
       height: 100%;
       image-rendering: pixelated;
       image-rendering: -moz-crisp-edges; /* Firefox */
       image-rendering: crisp-edges;
     }



.default_TABBTN {
  text-align: left;
  padding-left: 3px;
	width: calc(100% - 1px);
	min-height: 40px;
  border: 0px solid;
  border-color: #FFFFFF;
}
.default_SUBTABBTN {
  text-align: center;
  padding-bottom: 3px;
	height: calc(100% - 1px);
	min-width: 160px;
  width: 160px;
  border: 0px solid;
  border-color: #FFFFFF;
  z-index: 200;
}
.default_TABBTNINNER {
  text-align: left;
  padding-left: 3px;
	width: calc(100% - 1px);
	min-height: 40px;
  border: 1px solid;
  border-color: #FFFFFF;
  background-color: rgba(0,0,0,0);
}
.default_SUBTABBTNINNER {
  text-align: center;
  padding-bottom: 3px;
	height: calc(100% - 1px);
	min-width: 160px;
  width: 160px;
  border: 1px solid;
  border-color: #FFFFFF;
  background-color: rgba(0,0,0,0);
  z-index: 200;
}
.btn_buyable {
  text-align: center;
	height: 120px;
  min-height: 120px;
	min-width: 320px;
  width: 320px;
  border: 1px solid;
  border-color: #FFFFFF;
  z-index: 200;
}
.default_BUYABLE:hover {
	background-color: #444444;
  transition-duration: 250ms;
}
.default_BUYABLE:not(:hover) {
	background-color: #000000;
  transition-duration: 250ms;
}
.default_BUYABLE.bought {
  background-color: rgba(0,255,0,0.5);
}
.default_BUYABLE.unbought {
  background-color: rgba(255,0,0,0.5);
}
.default_BUYABLE.canbuy {
  background-color: rgba(255,255,0,0.5);
}
.default_SUBTABBTNINNER:hover {
	background-color: #444444;
  transition-duration: 250ms;
}
.default_SUBTABBTNINNER:not(:hover) {
	background-color: #000000;
  transition-duration: 250ms;
}
.default_SUBTABBTNINNER.chosen {
  border-bottom-width: 10px;
  transition-duration: 250ms;
}
.default_SUBTABBTNINNER:not(chosen) {
  border-bottom-width: 1px;
  transition-duration: 250ms;
}

.default_TABBTNINNER:hover {
	background-color: #444444;
  transition-duration: 250ms;
}
.default_TABBTNINNER:not(:hover) {
	background-color: #000000;
  transition-duration: 250ms;
}
.default_TABBTNINNER.chosen {
  border-left-width: 10px;
  transition-duration: 250ms;
}
.default_TABBTNINNER:not(chosen) {
  border-left-width: 1px;
  transition-duration: 250ms;
}

#tabs {
  
  width: 200px;
  height: 100%;
  
}
#stabs {
  
  position: absolute;
  width: calc(100vw - 400px);
  height: 100px;
  top: 80px;
  left: 200px;
  
}
.generalBackgrounddefault {
  
  overflow: hidden;
  z-index: 0;
  width: calc(100% - 400px);
  height: calc(100vh - 30px);
  left: 200px;
  top: 30px;
  background-color: black;
  background-image: repeating-linear-gradient(90deg, transparent, transparent 1%, rgba(15,15,15,.5) 2%);
  position: absolute;
  
}
#newsFrame {
  
  overflow: hidden;
  z-index: -9999;
  width: calc(100% - 400px);
  height: 30px;
  left: 200px;
  top: 0px;
  position: absolute;
  
}
#newsText {
  
  overflow: hidden;
  z-index: -9999;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  text-overflow: ellipsis;
  
}
#subtab9 {
  width: 100%;
  height: 80vh;
  top: 200px;
  left: 0%;
  background-color: transparent;
  position: absolute;
}
#subtab10 {
  width: 100%;
  height: 80vh;
  top: 200px;
  left: 0%;
  background-color: transparent;
  position: absolute;
}
#subtab11 {
  width: 100%;
  height: 80vh;
  top: 200px;
  left: 0%;
  background-color: transparent;
  position: absolute;
}
.BODYdefault {
    font-family: "Lucida Handwriting", Monospace;
    background-color: rgb(10, 10, 10); 
}
.MAIN_default {
    font-family: "Lucida Handwriting", Monospace;
}
* {
  text-align: center;
  color: white;
}
.ghost {
  border: 0px;
  background-color: transparent;
}
.gradient-bar-default {
    height: 1px;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 60%);
    border-radius: 2px;
    box-shadow: 0 4px 10px rgba(10, 10, 10, 0.5);
}
.gradient-barV {
    width: 1px;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 60%);
    border-radius: 2px;
    box-shadow: 0 4px 10px rgba(10, 10, 10, 0.5);
}
.default_LARGEBORDER {
  border: 1px solid rgba(255,255,255);
  box-shadow: 0 0 2px 0px rgba(255,255,255);
}
.table_center {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
.UpgradeTable {
  text-align: center;
  justify-content: center;
}
.default_UPGRADE.bought {
  background-color: rgba(0,255,0,0.5);
}
.default_UPGRADE.unbought {
  background-color: rgba(255,0,0,0.5);
}
.default_UPGRADE.canbuy {
  background-color: rgba(255,255,0,0.5);
}
.default_UPGRADE:hover {
  box-shadow: 0 0 8px 2px rgba(255,255,255,0.5);
  transition-duration: 250ms;
  width: 48px;
  height: auto;
  vertical-align: middle;
}
.achievement.achieved {
  background-color: rgba(0,255,0,0.5);
}
.achievement.unachieved {
  background-color: rgba(255,0,0,0.5);
}
.achievement:hover {
  box-shadow: 0 0 15px 0px rgba(255,255,255,0.5);
  transition-duration: 250ms;
  height: auto;
  vertical-align: middle;
}
.achievement:not(:hover) {
  box-shadow: 0 0 0px 0px rgba(255,255,255,0);
  transition-duration: 1000ms;
  width: 32px;
  height: auto;
  vertical-align: middle;
}
.default_UPGRADE:not(:hover) {
  box-shadow: 0 0 0px 0px rgba(255,255,255,0);
  transition-duration: 1000ms;
  width: 32px;
  height: auto;
  vertical-align: middle;
}
.resourceDisplay {
  box-shadow: 0 0 0px 0px rgba(255,255,255,0);
  width: 32px;
  height: 32px;
  vertical-align: middle;
}
#upgradeinfo {
  top:-145px; 
  position: absolute;
  height: 160; 
  width: 100%; 
  left: -25%;
  text-align: center;
}
#achievementinfo {
  top: calc(100vh - 360px);
  position: absolute;
  height: 160px; 
  width: 100%; 
  left: 0%;
  text-align: center;
}
#dataDisplay {
  top:200px; 
  position: absolute;
  height: 160px; 
  width: 100%;
}
#computationDisplay {
  top:200px; 
  position: absolute;
  height: 160px; 
  width: 100%;
}
#significantDataDisplay {
  top:264px; 
  position: absolute;
  height: 160px; 
  width: 100%;
}
#spinner {
  width: 300vw;
  height: 300vh;
  top: -100vh;
  left: -100vw;
  rotate: 0deg;
  position: absolute;
  background-color:transparent;
  background-size: 133px 133px, 150px 150px, 187px 187px, 100px 100px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}
#spinner2 {
  width: 300vw;
  height: 300vh;
  top: -100vh;
  left: -100vw;
  rotate: 22.5deg;
  position: absolute;
  background-color:transparent;
  background-size: 133px 133px, 150px 150px, 187px 187px, 100px 100px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}
#spinner3 {
  width: 300vw;
  height: 300vh;
  top: -100vh;
  left: -100vw;
  rotate: 45deg;
  position: absolute;
  background-color:transparent;
  background-size: 133px 133px, 150px 150px, 187px 187px, 100px 100px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}
#spinner4 {
  width: 300vw;
  height: 300vh;
  top: -100vh;
  left: -100vw;
  rotate: 67.5deg;
  position: absolute;
  background-color:transparent;
  background-size: 133px 133px, 150px 150px, 187px 187px, 100px 100px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}
#spinner5 {
  width: 300vw;
  height: 300vh;
  top: -100vh;
  left: -100vw;
  rotate: 90deg;
  position: absolute;
  background-color:transparent;
  background-size: 133px 133px, 150px 150px, 187px 187px, 100px 100px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}
.spinnerdefault {
  background-image:
  radial-gradient(rgba(255,255,255,.3), rgba(255,255,255,.05) 1px, transparent 80px);
}
.default_RESET:hover {
	background-color: #444444;
  transition-duration: 250ms;
}
.default_RESET:not(:hover) {
	background-color: #000000;
  transition-duration: 250ms;
}
#SITE_THEME_SELECT {
    top:10%;
    left:10%;
    height:50px;
    width:30%;
    background-color: #000000;
    color: #ffffff;
    border: #ffffff 1px;
}